.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.download-btn {
  padding: 12px 18px;
  border-radius: 16px;
  background-color: #2cc8aa;
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.download-btn-container {
  display: inline-block;
  border: 2px solid rebeccapurple;
}
