body {
  background-color: #313b47;
  margin: 0 auto;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

#root {
    width: 820px;
    margin: 64px auto;
}

.content {
  background-color: white;
  padding-bottom: 48px;
}

.main {
  background-color: #fff;
}

fieldset {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
}

.program input,
.program input::placeholder {
  color: black;
  font-size: 18px;
  font-style: normal;
  width: 100%;
}

.icons {
text-align: right;
}

.add-icon,
.remove-icon {
  color: #255958;
  size: 14px;
  margin-right: 16px;
}

ul {
  padding: 0px 24px;
  margin-bottom: 14px;
}